 .toDoItem {
     display: flex;
     align-items: center;
     width: 85%;
     background-color: white;
     margin: 6px 4px;
     height: 40px;
     border-radius: 12px;
 }

 .toDoItem>p {
    flex: 1;
 }

 .toDoItem--done{
     text-decoration: line-through;
 }